---
import {
  Palette,
  Rocket,
  Shadcn,
  Sparkles,
  Wallet,
} from "@/components/icon.astro";

const features = [
  {
    name: "Conexión instantánea",
    icon: Rocket,
    description:
      "Vincula tu wallet en segundos con una experiencia moderna y sencilla.",
  },
  {
    name: "Basado en Shadcn",
    icon: Shadcn,
    description:
      "El componente está basado en shadcn, permitiendo la reutilización de componentes.",
  },
  {
    name: "Compatible con múltiples wallets",
    icon: Sparkles,
    description:
      "Funciona con MetaMask, WalletConnect, Coinbase Wallet y muchas más.",
  },
  {
    name: "Totalmente personalizable",
    icon: Palette,
    description:
      "Ajusta el diseño y las funciones según las necesidades de tu proyecto.",
  },
];
---

<div class="space-y-4">
  <div class="flex gap-4 items-center">
    <Wallet class="size-14 p-3 bg-neutral-900 rounded-md" />

    <div>
      <h1 class="text-3xl">Wallet Connect</h1>

      <span>
        Integra wallets de criptomonedas en tu app de forma rápida y segura.
      </span>
    </div>
  </div>

  <div class="flex gap-4 flex-wrap">
    {
      ["Typescript", "React", "Wagmi & Viem"].map((tech) => (
        <span class="bg-neutral-800 px-2 py-0.5 rounded-md text-sm">
          {tech}
        </span>
      ))
    }
  </div>

  <div class="max-w-4xl grid grid-cols-2 grid-rows-2 gap-4">
    {
      features.map(({ name, description, icon: Icon }) => (
        <div class="h-36 border border-neutral-800 rounded-md p-4 flex flex-col justify-between py-6 from-neutral-700/10 to-transparent bg-gradient-to-t">
          <div class="flex gap-2">
            <div class="flex items-center justify-center bg-neutral-800 size-8 rounded-md">
              <Icon class="size-5" />
            </div>

            <h2 class="font-mono text-xl mb-2 leading-relaxed">{name}</h2>
          </div>

          <p class="text-neutral-400 text-sm">{description}</p>
        </div>
      ))
    }
  </div>
</div>
