---
import heroContent from "@/assets/content/hero.json";
import {
  type LucideIcon,
  Palette,
  Rocket,
  Shadcn,
  Sparkles,
  Wallet,
} from "@/components/icon.astro";
import { getLocalesByLang } from "@/lib/locale";

const internalIconMap: Record<string, LucideIcon> = {
  Sparkles: Sparkles,
  Palette: Palette,
  Rocket: Rocket,
  Shadcn: Shadcn,
};

const locales = getLocalesByLang(heroContent, Astro.currentLocale);

const features = locales.features.map(({ name, description, iconName }) => ({
  name,
  description,
  icon: internalIconMap[iconName],
}));

const { description } = locales;
---

<div class="space-y-4">
  <div class="flex gap-4 items-center">
    <Wallet class="size-14 p-3 bg-neutral-900 rounded-md" />

    <div>
      <h1 class="text-3xl">Wallet Connect</h1>

      <span>
        {description}
      </span>
    </div>
  </div>

  <ul class="flex gap-4 flex-wrap">
    {
      ["Typescript", "React", "Wagmi & Viem"].map((tech) => (
        <li class="bg-neutral-800 px-2 py-0.5 rounded-md text-sm">{tech}</li>
      ))
    }
  </ul>

  <ul class="max-w-4xl grid grid-cols-2 grid-rows-2 gap-4">
    {
      features.map(({ name, description, icon: Icon }) => (
        <li class="h-36 border border-neutral-800 rounded-md p-4 flex flex-col justify-between py-6 from-neutral-700/10 to-transparent bg-gradient-to-t">
          <div class="flex gap-2">
            <div class="flex items-center justify-center bg-neutral-800 size-8 rounded-md">
              <Icon class="size-5" />
            </div>

            <h2 class="font-mono text-xl mb-2 leading-relaxed">{name}</h2>
          </div>

          <p class="text-neutral-400 text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</div>
