---
import connectWalletComp from "@wcs/components/ConnectWallet?raw";
import Code from "@/components/code.astro";
---

<div class="space-y-4">
  <h1 class="text-2xl">Instalación</h1>

  <span>
    Un componente listo para integrar: copia el código, crea el archivo y úsalo
    en tu proyecto. Puedes personalizarlo y reutilizar sus partes internas según
    tus necesidades.
  </span>

  <div class="mt-4">
    <Code title="ConnectWallet.tsx" code={connectWalletComp} />
  </div>
</div>
