---
import connectWalletTsx from "@wcs/components/ConnectWallet?raw";
import walletConnectDesc from "@/assets/content/quick-start/walletConnectDesc.md?raw";
import CodeSnippet from "@/components/code.astro";
import Link from "@/components/link.astro";
import Script from "@/components/script.astro";
import StepSection from "@/components/step.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { parseMinimalMdToHtml } from "@/lib/markdown";

const wcInitialDescriptionHtml = parseMinimalMdToHtml(walletConnectDesc);
---

<RootLayout title="Wallet Connect">
  <div class="flex flex-col gap-18 overflow-y-scroll size-full pb-8">
    <StepSection title="Getting Started" className="mt-10 gap-8">
      <p set:html={wcInitialDescriptionHtml} />

      <h3 class="text-2xl">Requisitos</h3>

      <ol class="flex flex-col gap-6">
        <div class="flex flex-col gap-4">
          <li>Wagmi & Viem</li>

          <Script scripts="pnpm add wagmi viem@2.x @tanstack/react-query" />
        </div>

        <div class="flex flex-col gap-4">
          <li>Shadcn</li>

          <a
            class="text-blue-500"
            href="https://ui.shadcn.com/docs/installation"
            target="_blank"
          >
            https://ui.shadcn.com/docs/installation
          </a>
        </div>

        <div class="flex flex-col gap-4">
          <li>Shadcn Components</li>

          <ul>
            <li>
              Avatar
              <a
                class="text-blue-500"
                href="https://ui.shadcn.com/docs/components/avatar"
                target="_blank"
              >
                {"(link)"}
              </a>
            </li>

            <li>
              Alert Dialog
              <a
                class="text-blue-500"
                href="https://ui.shadcn.com/docs/components/alert-dialog"
                target="_blank"
              >
                {"(link)"}
              </a>
            </li>

            <li>
              Button
              <a
                class="text-blue-500"
                href="https://ui.shadcn.com/docs/components/button"
                target="_blank"
              >
                {"(link)"}
              </a>
            </li>

            <li>
              Sonner
              <a
                class="text-blue-500"
                href="https://ui.shadcn.com/docs/components/sonner"
                target="_blank"
              >
                {"(link)"}
              </a>
            </li>
          </ul>

          <Script
            scripts={[
              "pnpm add avatar",
              "pnpm add alert-dialog",
              "pnpm add button",
              "pnpm add sonner",
            ]}
          />
        </div>
      </ol>

      <p>
        Primero deberás crear un nuevo archivo
        <em class="highlight">ConnectWallet.tsx</em>
        y pega el siguiente código:
      </p>

      <CodeSnippet title="ConnectWallet.tsx" code={connectWalletTsx} />
    </StepSection>
  </div>
</RootLayout>

<style is:inline>
  ol {
    list-style-type: none;
    counter-reset: custom-counter;
    padding-left: 0;
  }

  ol li {
    counter-increment: custom-counter;
    position: relative;
    font-size: 1.25em;
  }

  ol li::before {
    content: counter(custom-counter) ". ";
    color: white;
    opacity: 0.5;
    font-size: 0.75em;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  ul li {
    padding-left: 1.25rem;
  }

  ul li::before {
    content: "• ";
  }
</style>
