---
import "@/styles/global.css";
import background from "public/background.webp";
import favicon from "public/favicon.svg";
import { Github, ScanEye } from "@/components/icon.astro";
import Example from "@/sections/example.astro";
import Gallery from "@/sections/gallery.astro";
import Hero from "@/sections/hero.astro";
import Installation from "@/sections/installation.astro";
import UsesIn from "@/sections/usesIn.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />

    <meta
      name="description"
      content="A shadcn-based component for wallet connections with wagmi & viem."
    />

    <title>Dev</title>
  </head>

  <body class="h-screen overflow-y-auto bg-neutral-950 space-y-8">
    <img
      src={background.src}
      alt="App background"
      class="fixed opacity-20 -z-50 size-full"
    />

    <header
      class="sticky top-0 border-b border-b-neutral-900 h-20 w-full bg-neutral-950/50 backdrop-blur-xl"
    >
      <div
        class="max-w-6xl mx-auto flex items-center justify-between size-full xs:px-2 lg:px-4"
      >
        <h1>Wallet <b class="bg-blue-800 px-2">Connect</b></h1>

        <div class="flex gap-2">
          <button
            class="flex gap-6 items-center bg-neutral-900/90 px-3 py-1 rounded-md hover:bg-neutral-800/70"
            onclick="window.open('https\://github.com/criss8X/wallet-connect')"
          >
            <span class="leading-relaxed">Github</span>
            <Github class="size-4" />
          </button>

          <button
            class="flex gap-6 items-center bg-neutral-900/90 px-3 py-1 rounded-md hover:bg-neutral-800/70"
            onclick="window.open('wallet-connect/preview')"
          >
            <span class="leading-relaxed">Preview</span>

            <ScanEye class="size-4" />
          </button>
        </div>
      </div>
    </header>

    <main class="max-w-6xl mx-auto pb-12 space-y-12">
      <Hero />

      <Gallery />

      <UsesIn />

      <Installation />

      <Example />
    </main>
  </body>
</html>
