---
import gettingStartedContent from "@/assets/content/getting-started.json";
import CodeSnippet from "@/components/code.astro";
import StepSection from "@/components/step.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { parseHighlightsFromParagraph } from "@/lib/markdown";

const { descInMarkdown, descConnectWallet } = gettingStartedContent.es;
const descInHtml = parseHighlightsFromParagraph(descInMarkdown);
const descConnectWalletInHtml = parseHighlightsFromParagraph(descConnectWallet);
---

<RootLayout title="Wallet Connect">
  <div class="flex flex-col gap-18">
    <StepSection title="Getting Started" className="mt-10 gap-8">
      <div class="flex flex-col gap-12">
        <p set:html={descInHtml} />

        <p set:html={descConnectWalletInHtml} />
      </div>

      <CodeSnippet title="ConnectWallet.tsx">
        {
          `function some() {
            alert("some")
        };`
        }
      </CodeSnippet>
    </StepSection>
  </div>
</RootLayout>
