---
import "../styles/global.css";
import NavSection from "@/components/nav.astro";
import cn from "@/lib/cn";

interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />

    <meta
      name="description"
      content="A shadcn-based component for wallet connections with wagmi & viem."
    />

    <title>{title}</title>
  </head>

  <body
    class={cn("flex min-h-screen overflow-hidden bg-neutral-950", className)}
  >
    <aside class="w-60 xl:w-72 flex flex-col border-r border-neutral-900">
      <header
        class="flex-1 px-4 flex items-center border-b border-b-neutral-900"
      >
        <h1 class="text-xl py-2 xl:py-0 font-bold leading-[100%]">
          Wallet
          <strong class="bg-blue-900 px-2.5">Connect</strong>

          <sub class="text-xs opacity-55">v1.0.0</sub>
        </h1>
      </header>

      <div class="flex flex-col gap-2 flex-15">
        <NavSection
          title="INSTALLATION"
          items={[{ name: "Getting Started", href: "/" }]}
        />

        <NavSection
          title="COMPONENTS"
          items={[
            { name: "WalletConnect", href: "/ui/wallet-connect" },
            { name: "ChainSelector", href: "/ui/chain-selector" },
          ]}
        />
      </div>

      <footer class="flex-1 border-t border-neutral-900"></footer>
    </aside>

    <main class="flex-1 max-h-screen overflow-hidden">
      <slot />
    </main>
  </body>
</html>
