@import "tailwindcss";

@layer base {
	body {
		@apply text-neutral-100;
		font-family: "Jetbrains Mono", sans-serif;
	}

	em {
		@apply not-italic;
	}
}

.highlight {
	@apply bg-blue-900/50 px-1;
}

.link {
	@apply text-blue-500 px-1 py-0.5 hover:bg-blue-500/10 rounded-md;
}

::-webkit-scrollbar {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #262626;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}
