---
import cn from "@/lib/cn";

interface Props {
  title: string;
  className?: string;
}

const { className, title } = Astro.props;
---

<div
  class={cn(
    "w-full max-w-2xl flex flex-col gap-2 bg-neutral-900 border border-neutral-800",
    className,
  )}
>
  <div class="w-full flex items-center justify-between pt-3 px-4">
    <span class="opacity-50">{title}</span>

    <button
      class="bg-neutral-800 hover:bg-neutral-700 hover:cursor-pointer w-20 rounded-xs"
      onclick="navigator.clipboard.writeText(this.parentElement.querySelector('[data-copy]').innerText);"
    >
      Copy
    </button>
  </div>

  <div class="flex-1 p-4" data-copy>
    <slot />
  </div>
</div>

<script>
  function algo() {
    alert("Algo");
  }
</script>
