---
import cn from "@/lib/cn";

interface Props {
  title: string;
  className?: string;
}

const { className, title } = Astro.props;
---

<div
  class={cn(
    "relative flex w-full max-w-3xl max-h-100 bg-neutral-900/20 border border-neutral-800",
    className,
  )}
>
  <div
    class="absolute h-14 w-full flex items-center justify-between px-4 bg-neutral-950/10 backdrop-blur-2xl"
  >
    <span class="opacity-50">{title}</span>

    <button
      class="bg-neutral-800 hover:bg-neutral-700 hover:cursor-pointer w-20 rounded-xs"
      onclick="copyToClipboard(this);"
    >
      Copy
    </button>
  </div>

  <div class="flex-1 mt-12 p-4 overflow-auto" data-copy>
    <slot />
  </div>
</div>

<script is:inline>
  async function copyToClipboard(e) {
    const internalContainerElement = e.parentElement.parentElement;

    const contentInText =
      internalContainerElement.querySelector("[data-copy]").textContent;

    if (typeof contentInText !== "string") {
      return;
    }

    navigator.clipboard.writeText(contentInText);

    // TODO: Show a toast when text has been copied.
  }
</script>

<style is:inline>
  ::-webkit-scrollbar {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #262626;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
</style>

<!-- TODO: Checklist for I do -->
<!-- Implement syntax highlight, prefer use `react-ts` highlight -->
<!-- Implement mobile responsive -->
