---
import { Check, Copy } from "./icon.astro";

interface Props {
  contentToCopy: string;
}

const { contentToCopy } = Astro.props;
---

<button
  class="group text-neutral-100/50 size-5 hover:cursor-pointer hover:text-neutral-100 flex items-center justify-center transition-colors"
  title="Copy to clipboard"
  data-copy={contentToCopy}
  data-copied={false}
  onclick="copyToClipboard(this);"
>
  <Check id="btn-check-icon" />

  <Copy id="btn-copy-icon" />
</button>

<style is:inline>
  button[data-copied="true"] #btn-copy-icon {
    display: none;
  }

  button[data-copied="false"] #btn-check-icon {
    display: none;
  }
</style>

<script is:inline>
  async function copyToClipboard(button) {
    const contentToCopy = button.dataset.copy;

    if (typeof contentToCopy !== "string") {
      return;
    }

    await navigator.clipboard.writeText(contentToCopy);

    button.dataset.copied = true;

    setTimeout(() => {
      button.dataset.copied = false;
    }, 2000);
  }
</script>
