---
import { ArrowRight } from "./icon.astro";

const isEnglish = Astro.currentLocale === "en";

const localeData = isEnglish
  ? {
      title: "Switch page to spanish",
      label: "Spanish",
      href: "/wallet-connect/es",
    }
  : {
      title: "Cambia la página a inglés",
      label: "English",
      href: "/wallet-connect/",
    };
---

<a
  class="flex gap-6 items-center bg-neutral-900/90 px-3 py-1 rounded-md hover:bg-neutral-800/70"
  title={localeData.title}
  href={localeData.href}
>
  <span class="leading-relaxed">{localeData.label}</span>

  <ArrowRight class="size-4" />
</a>

<style>
  a {
    appearance: none;
    color: var(--color-neutral-50);
    text-decoration: none;
  }
</style>
