---
import cn from "@/lib/cn";

interface Props extends Omit<astroHTML.JSX.AnchorHTMLAttributes, "class"> {
  className?: string;
}

const { className, ...props } = Astro.props;
---

<a
  class={cn(
    "flex gap-6 items-center bg-neutral-900/90 px-3 py-1 rounded-md hover:bg-neutral-800/70",
    className,
  )}
  {...props}
>
  <slot />
</a>
