---
import cn from "@/lib/cn";

interface Props {
  title: string;
  id?: string;
  className?: string;
}

const { title, className, id } = Astro.props;
---

<div id={id} class={cn("ml-4 md:ml-6", className)}>
  <h1 class="text-4xl w-max border-neutral-800 pb-2">
    <b class="text-blue-900">{"##"}</b>

    {title}
  </h1>

  <slot />
</div>
