---
import cn from "@/lib/cn";

interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<div
  class={cn(
    "ml-4 md:ml-6 flex flex-col gap-2 [&_p]:opacity-80 [&_p]:text-xl [&_p]:max-w-6xl",
    className,
  )}
>
  <h1 class="text-3xl w-max border-neutral-800">
    <b class="text-blue-900">{"##"}</b>

    {title}
  </h1>

  <slot />
</div>
